.react-lock-screen__ui {
  width: 300px;
  position: fixed;
  border: 4px solid #333;
  background: #fff;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
  top: calc(30% - 152px / 2);
  left: calc(49% - 300px / 2);
}

.unlock-btn:hover {
  background-color: black;
  color: white;
}
